.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

body {
  min-width: 320px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $color-darkblue;
}

img {
  max-width: 100%;
  height: auto;
}
